extends layouts/master
block content
    div(class='row')
        div(class='col-lg-1')
        div(class='col-lg-10')
            h3 This is the index content

                br.
                p.
                    this is the upload container
        div(class='col-lg-1')
                