@import "mixins";

$detail-color: #38bb61;
$detail-opposite: #efefef;

body {
  color: $detail-color;
  @include border-radius(9px);
}


.navbar-default{
  .navbar-brand {
    color: $detail-color;
  }
}